body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #ffffff;
}
.container {
    margin-top: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
.quick-links {
    text-align: center;
    margin-bottom: 20px;
    background-color: #FF8400; 
    padding: 10px; 
    border-radius: 10px; 
}
.quick-links a {
    margin: 10px;
    color: #ffffff; 
}
.quick-links a:hover {
    background-color:  green; 
}
.faculty-list {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}
.faculty-list table {
    color: #333;
}

.dashboard-heading {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation: marquee 10s linear infinite;
}

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

header, footer {
    background-color: #FF8400; 
}



.row{
    display: flex;
}
